.header {
  padding: 10px 20px;
  background-color: rgb(40, 44, 52);
  color: #61dafb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header h2 {
  color: #61dafb;
  margin: 0px;
}
